
.post-meta, section h1 {
    display: none
}

#post aside .toc-container {
    display: none
}

#post aside > div {
    margin-left: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 2px;
}

#气象图 {
    width: 325px;
    height: 275px;
    overflow: hidden;
    position: relative;
}

#气象图 > img {
    width: 325px;
    height: 275px;
}

#气象图 > img:hover {
    width: 936px;
    height: 779px;
    left: -340px;
    top: -140px;
    margin-top: -200px;
    margin-left: -200px;
    position: absolute;
}

body {
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f5f5;
}
#app{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    /*height: 600px;*/
}
.item{
    flex: 4;
    margin: 5px 5px;
    min-width: 22%;
    background-color: rgba(0, 0, 0,.04);
}
.item:hover{
    background-color: rgba(0, 0, 0,.08);
}
.card {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 5px 10px;
    flex-wrap: wrap;
}
.link {
    height: 16px;
}

.icon {
    width: 36px; height: 36px; border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(222px,1fr));
    grid-template-rows: 120px;
    grid-auto-flow: dense;
    grid-gap: 12px;
    color: #222;
    overflow: visible;
    background-color: rgba(0, 0, 0,.08);
    margin-right: 14px;
}
.link-icon img{
    opacity:0.2
}
.desc{
    font-size: 12px;
    margin: 6px 10px;
    line-height: 18px;
    color: rgba(0,0,0,.6);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
